// 颜色定义规范
$color-background = #F2F3F4
$color-background-d = rgba(0, 0, 0, 0.3)
$color-highlight-background = rgb(253, 108, 98)
$color-dialog-background = rgb(204, 204, 204)
$color-theme = rgb(212, 68, 57)
$color-theme-l = rgb(241, 241, 241)
$color-theme-g = rgb(219, 219, 219)
$color-theme-d = rgba(19, 19, 19, 0.6)
$color-sub-theme = rgb(240, 116, 107)
$color-light = rgb(228, 228, 228)
$color-text = #2E3030
$color-text-i = rgba(255,255,255,0.6)
$color-text-a = rgb(255,255,255)
$color-text-d = rgba(255, 255, 255, 0.3)
$color-text-l = rgb(241, 241, 241)
// half transparent 半透明白色字体
$color-text-ht = rgba(255, 255, 255, 0.5)
$color-text-ll = rgba(255, 255, 255, 0.8)
$color-text-g = #757575; 
$color-text-ggg = #c7c7c7; 
$color-text-gg = rgb(219, 219, 219)
$color-text-ii = rgb(144,144,144)
$color-text-light = rgba(144,144,144,0.6)
$color-text-lighter = rgba(144,144,144,0.2)
$color-text-h = rgba(0,0,255, 0.7)
$color-text-blue = #99ccff
$color-d-theme = rgba(212, 68, 57, 0.5)
$color-text-dark = rgba(0,0,0,0.9)
//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
$font-size-large-e = 40px